{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
   <div class="container">
       {{ block.super }}
       <br>
        <div class="body">
            <h2>Time to learn and grow</h2>
            <p>Grow everyday with a daily dose of God's word taught by tearchers with expiriences. <br>
            Get to know how to live in a world full of challenges and distructions. <br>
            Here we discuss everything partaining to life in general and  in relation to God's word.</p>
            <p>We aim at empowering our children and teenagers to make right decisions and plan their lives accordingly.</p>
            <div class="row">
                <div class="col-md-6">
                    Teachers with their topic
                </div>
                <div class="col-md-6">
                    videos with links
                </div>
            </div>
        </div>
   </div>
{% endblock content %}
    