{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
   <div class="container">
       {{ block.super }}
       <br>
        <div class="body">
            <h2 style="color: teal;font-size: 3rem; font-weight: 800; text-transform: uppercase;">Time to learn and grow</h2>

            <p style="text-align: center;">Grow everyday with a daily dose of God's word taught by tearchers with expiriences. <br>
            Get to know how to live in a world full of challenges and distructions. <br>
            Here we discuss everything partaining to life in general and  in relation to God's word.
            <br> We aim at empowering our children and teenagers to make right decisions and plan their lives accordingly.</p>
            <br>
            <div class="row">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/36gA40ArYFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br><br>
           
            
        </div>
   </div>

   <style>
       .body img{
           height: 400px;
           width: 400px;
           border-radius: 14px;
          
       }
       @media screen and (max-width: 653px) {}
 @media screen and (max-width: 1188px) {
     .body h2{
         font-size: 0.2rem;
     }
 }
@media screen and (max-width: 932px) {
    .body h2{
        font-size: 0.2rem;
    }
}
@media screen and (max-width: 430px) {
    .body h2{
        font-size: 0.2rem;
    }
}
   </style>
{% endblock content %}

