{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
    {{ block.super }}
    <br>
    {% if messo %}
       
    {% for messo in messo %}
    <p style="color: red;">
    {{messo}}
    </p>
        
    {% endfor %}  
    {% endif %}
    <!--  -->
{% if articles %}
{% for art in articles %}

    <div class="row">
        <div class="col-md-4">
            
            <div class="boom">
                <img src=" {{art.image.url}} " alt="">
            </div>
            <br><br>
            <h4 style="color: teal;">By Tr.{{art.posted_by.username}}</h4><br>
            <br>

        </div><br><br><br>
        <div class="col-md-1">
            .
        </div>

        <div class="col-md-7">
           <h2 style="color: orange;text-transform: uppercase; font-weight: 800;">{{art.title}}</h2><br>
           
            <p><a href="{% url 'single_post' art.id %}">Read now</a></p>
        </div>
        <hr>

    </div>
    <hr>
 

{% endfor %} 
{% endif %}
</div>
<style>
    h2 h4 {
        font-size: 3rem;
       
        text-transform: uppercase;
        
    }
</style>
{% endblock content %}
<p>
    {{art.content}}
</p>
