{% extends 'my_base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
   <div class="container">
       {{ block.super }}
       <br>
        <div class="body">
            <h2 style="color: teal;font-size: 3rem; font-weight: 800;">TIME TO LEARN AND GROW</h2>

            <p style="text-align: center;">Grow everyday with a daily dose of God's word taught by tearchers with expiriences. <br>
            Get to know how to live in a world full of challenges and distructions. <br>
            Here we discuss everything partaining to life in general and  in relation to God's word.
            <br> We aim at empowering our children and teenagers to make right decisions and plan their lives accordingly.</p>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/36gA40ArYFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-2"></div>
               
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <iframe width="600" height="340" src="https://www.youtube.com/embed/Aqk-5gvyHCM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
   </div>

   <style>
    .body img{
        height: 400px;
        width: 400px;
        border-radius: 14px;
        box-shadow: 5px 5px 5px rgba(255, 184, 4, 0.67);
    }
    @media screen and (max-width: 932px) {
    .rw img{
     width: 30vmin;
     height: 30vmin;
    }
    .body img{
        width: 60vmin;
        height: 60vmin;
        margin-bottom: 3vmin;
       }
       .body h2{
           font-size: .15rem;
           text-transform: uppercase;
       }
    a{
        font-size: 1rem;
        padding: 0;
    }
    .body p{
           font-size: 1rem;
       }
  }

  @media screen and (max-width: 430px) {
    .rw img{
     width: 40vmin;
     height: 40vmin;
    }
    .body h2{
           font-size: .2rem;
       }
       .body p{
           font-size: 1rem;
       }
    .body img{
        width: 60vmin;
        height: 60vmin;
        margin-bottom: 3vmin;
       }
    a{
        font-size: .8rem;
        padding: 0;
    }
  }

  @media screen and (max-width: 939px) {
    .rw img{
     width: 40vmin;
     height: 40vmin;
    }
    .body h2{
           font-size: .2rem;
       }
       .body p{
           font-size: 1rem;
       }
    .body img{
        width: 40vmin;
        height: 40vmin;
        margin-bottom: 3vmin;
       }
    a{
        font-size: .8rem;
        padding: 0;
    }
  }

  @media screen and (max-width: 633px) {
    .rw img{
     width: 40vmin;
     height: 40vmin;
    }
    .body h2{
           font-size: .2rem;
       }
       .body p{
           font-size: 1rem;
       }
    .body img{
        width: 60vmin;
        height: 60vmin;
        margin-bottom: 3vmin;
       }
    a{
        font-size: .8rem;
        padding: 0;
    }
  }
</style>
{% endblock content %}

